section.banner
  h2.visually-hidden Баннер
  .banner__left
    p.banner__title lorem Ipsum Dolor sit amet
    p.banner__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc
    a.banner__button Buy now
    a.banner__button.banner__button--light Try for free
  
  .banner__right
    .banner__iframe
      <iframe class="banner__video" width="560" height="315" src="https://www.youtube.com/embed/nTtuiBXKp88" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
