footer.footer
  .footer__wrap.wrap
    .footer__left
      a(href="#").footer__logo
        img(src="img/logo.png", alt="Логотип Dart", width="180", height="30")
      ul.footer__menu.footer__menu--left.menu
        li.menu__item
          a(href="#").menu__link Privecy Policy
        li.menu__item
          a(href="#").menu__link About Us
        li.menu__item
          a(href="#").menu__link About Us
    .footer__right
      ul.footer__menu.menu
        li.menu__item
          a(href="#").menu__link Home
        li.menu__item
          a(href="#").menu__link Service
        li.menu__item
          a(href="#").menu__link Extension
        li.menu__item
          a(href="#").menu__link Pricing
        li.menu__item
          a(href="#").menu__link Help
      ul.footer__social.social
          li.social__item
            a(href="#").social__link
              svg(width="19", height="21", aria-label="Facebook").social__svg
                use(xlink:href="img/symbol/sprite.svg#facebook-square")
          li.social__item
            a(href="#").social__link
              svg(width="18", height="18", aria-label="Twitter").social__svg
                use(xlink:href="img/symbol/sprite.svg#twitter")
          li.social__item
            a(href="#").social__link
              svg(width="18", height="18", aria-label="Linkedin").social__svg
                use(xlink:href="img/symbol/sprite.svg#linkedin")
          li.social__item
            a(href="#").social__link
              svg(width="18", height="18", aria-label="Dribbble").social__svg
                use(xlink:href="img/symbol/sprite.svg#dribbble")
          li.social__item
            a(href="#").social__link
              svg(width="24", height="20", aria-label="Behance").social__svg
                use(xlink:href="img/symbol/sprite.svg#behance")
