header.header
  nav.header__navigation
    a(href="#").header__logo
      img(src="img/logo.png", alt="Логотип Dart", width="180", height="30")
    ul.header__menu.menu
      li.menu__item
        a(href="#").menu__link Home
      li.menu__item
        a(href="#").menu__link Service
      li.menu__item
        a(href="#").menu__link Extension
      li.menu__item
        a(href="#").menu__link Pricing
      li.menu__item
        a(href="#").menu__link Help
    .header__right
      a.header__button sign up
