section.reviews
  h2.visually-hidden Отзывы
  .reviews__wrap.wrap
    .reviews__info
      p.reviews__title What our customers<br>have to say about us.
      p.reviews__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      a(href="#").reviews__button get started
    .reviews__block
      .reviews__item
        .reviews__avatar
          img(src="img/quote1.jpg", alt="Аватар Jonh Doe", width="60", height="60").reviews__img
        .reviews__quote-wrap
          p.reviews__author Jonh Doe
          blockquote.reviews__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      .reviews__item
        .reviews__avatar
          img(src="img/quote2.jpg", alt="Аватар Khalessi", width="60", height="60").reviews__img
        .reviews__quote-wrap
          p.reviews__author Khalessi
          blockquote.reviews__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
