section.services.wrap
  h2.services__title Services
  p.services__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  .services__block
  
    .services__item.services__item--statistic
      header.services__header
        p.services__title Statistics
        button(aria-label="Открыть меню").services__button
      .services__content
        p.services__img
          img(href="img/img1.jpg", alt="statistic", width="250", height="150")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        p quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in

    .services__item.services__item--inbox
      header.services__header
        p.services__title inbox
        button(aria-label="Открыть меню").services__button
      .services__content
        p.services__img
          img(href="img/img1.jpg", alt="statistic", width="250", height="150")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        p quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in

    .services__item.services__item--team
      header.services__header
        p.services__title team
        button(aria-label="Открыть меню").services__button
      .services__content
        p.services__img
          img(href="img/img1.jpg", alt="statistic", width="250", height="150")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        p quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in

    .services__item.services__item--settings
      header.services__header
        p.services__title settings
        button(aria-label="Открыть меню").services__button
      .services__content
        p.services__img
          img(href="img/img1.jpg", alt="statistic", width="250", height="150")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        p quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    
    .services__item.services__item--feed
      header.services__header
        p.services__title feed
        button(aria-label="Открыть меню").services__button
      .services__content
        p.services__img
          img(href="img/img1.jpg", alt="statistic", width="250", height="150")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        p quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
