section.services.wrap
  h2.services__title Services
  p.services__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  .services__block
  
    .services__item.services__item--active
      header.services__header
        p.services__name.services__name--statistic Statistics
        button(type="button", aria-label="Открыть меню").services__button
      .services__content
        p.services__img
          img(src="img/img1.jpg", alt="statistic", width="250", height="150")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        p quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in

    .services__item
      header.services__header
        p.services__name.services__name--inbox inbox
        button(type="button", aria-label="Открыть меню").services__button
      .services__content
        p.services__img
          img(src="img/img1.jpg", alt="statistic", width="250", height="150")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        p quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in

    .services__item
      header.services__header
        p.services__name.services__name--team team
        button(type="button", aria-label="Открыть меню").services__button
      .services__content
        p.services__img
          img(src="img/img1.jpg", alt="statistic", width="250", height="150")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        p quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in

    .services__item
      header.services__header
        p.services__name.services__name--settings settings
        button(type="button", aria-label="Открыть меню").services__button
      .services__content
        p.services__img
          img(src="img/img1.jpg", alt="statistic", width="250", height="150")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        p quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    
    .services__item
      header.services__header
        p.services__name.services__name--feed feed
        button(type="button", aria-label="Открыть меню").services__button
      .services__content
        p.services__img
          img(src="img/img1.jpg", alt="statistic", width="250", height="150")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        p quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
